.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: black; /* Puedes cambiar el color de fondo según tus necesidades */
}

.footer .left,
.footer .center,
.footer .right {
  flex: 1;
}

.footer .center {
  text-align: center;
}

.footer .right {
  text-align: right;
}

.v4-footer-text-color {
  color: white;
}
