.footer {
  font-size: 14px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0px;
  background-color: black; 
}

.footer .left {
  text-align: left; 
}

.footer .center {
  margin: 0 auto; 
  text-align: center;
}

.footer .right {
  text-align: right;
}

.v4-footer-text-color {
  color: white;
}
