<!-- Perfil -->
<section class="section">
        <div class="container">
            <div class="has-text-centered section-heading">
                <h1 class="textoEncima title is-2 is-uppercase">{{"Exeperiencie.Jobs"|translate}}</h1>
                <hr class="line_info">
            </div>
            
            <div class="content">
                <div class="columns">

                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/ff2.png" alt="Java" class="skill-image">
                        </figure>
                    </div>


                    <div class="column transparente is-vcentered is-centered is-offset-2 is-5">
                        <div class="box">
                            <div class="content">
                                <p class="about_me">{{"Exeperiencie.Design"|translate}}</p>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>


    <hr class="custom-hr">

    <div class="container">
        <div class="content">
            <div class="columns swap-on-mobile">

            <div class="column transparente is-vcentered is-centered is-offset-2 is-5">
                <div class="box2">
                    <div class="content">
                        <p class="about_me">{{"Exeperiencie.Vaelsys"|translate}}</p>
                    </div>
                </div>
            </div>

            <div class="column is-narrow has-text-centered">
                <figure>
                  <img src="assets/image/Vaelsys2.png" alt="Vaelsys" class="skill-image2">
                </figure>
            </div>

            </div>
        </div>
    </div>

    <hr class="custom-hr2">

        <div class="container">

            <div class="content">
                <div class="columns">

                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img class="img" src="assets/image/v4.png" alt="v4" class="skill-image3" width="1000">
                        </figure>
                    </div>


                    <div class="column transparente is-vcentered is-centered is-5">
                        <div class="box">
                            <div class="content">
                                <p class="about_me">{{"Exeperiencie.V4"|translate}}</p>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    
    <hr class="custom-hr3">

</section>




