<!-- Perfil -->
<section class="section">
    <div class="container">
        <div class="title has-text-centered section-heading">
            <h1 class="textoEncima title is-2 is-uppercase">{{"Jobs"|translate}}</h1>
            <h1 class="subtitle is-uppercase">{{"Experiencia"|translate}}</h1>
        </div>
        
        <div class="content">
            Dous
            <div class="columns">
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/ff2.png" alt="Java" class="skill-image">
                    </figure>
                </div>
                <div class="column is-narrow has-text-centered">
                </div>
            </div>
        </div>

    </div>

    <hr class="custom-hr">

</section>




