<!-- Perfil -->
<section class="section" id="profile">
    <div class="container">
        <div class="has-text-centered section-heading">
            <h1 class="textoEncima title is-2 is-uppercase">{{"Info"|translate}}</h1>
            <h1 class="textoEncima subtitle is-uppercase">{{"Perfil"|translate}}</h1>
        </div>

        <div class="box mt-6 transparente">
            <div class="content">
                <table class="table has-text-centered" style="color: white;">
                    <tbody class="box2">
                        <tr>
                            <td>{{"Name"|translate}}</td>
                            <td>{{"Nombre2"|translate}}</td>
                        </tr>
                        <tr>
                            <td>{{"Residencia"|translate}}</td>
                            <td>{{"Residencia2"|translate}}</td>
                        </tr>
                        <tr>
                            <td>{{"Universidad"|translate}}</td>
                            <td>{{"Universidad2"|translate}}</td>
                        </tr>
                        <tr>
                            <td>{{"Carrera"|translate}}</td>
                            <td>{{"Carrera2"|translate}}</td>
                        </tr>
                        <tr>
                            <td>{{"Master"|translate}}</td>
                            <td>{{"Master2"|translate}}</td>
                        </tr>
                        <tr>
                            <td>{{"Gmail"|translate}}</td>
                            <td>{{"Gmail2"|translate}}</td>
                        </tr>
                        <tr>
                            <td>{{"Linkedin"|translate}}</td>
                            <td><a href="https://www.linkedin.com/in/miguel-ib%C3%A1%C3%B1ez/">in/miguel-ibañez</a></td>
                        </tr>
                        <tr>
                            <td>{{"GitHub"|translate}}</td>
                            <td><a href="https://github.com/MiguelIbanezG">MiguelIbanezG</a></td>
                        </tr>
                        <tr>
                            <td>{{"Teléfono"|translate}}</td>
                            <td>{{"Teléfono2"|translate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="section" id="services">
    <div class="container">
        <div class="has-text-centered section-heading">
            <h1 class="textoEncima title is-2 is-uppercase">{{"Sobre_mi"|translate}}</h1>
        </div>

        <!-- <div class="columns"> -->
        <div>
            <div class="columns is-vcentered is-centered">
                <div class="column">
                    <figure class="image">
                        <img src="https://i.postimg.cc/vmsHMDbB/FrontEnd.webp" alt="dev Castellanos Front End">
                    </figure>
                </div>
                <div class="column transparente is-vcentered is-centered">
                    <div class="box">
                        <div class="content">
                            <p>{{"Info_sobre_mi"|translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="skills" id="Herramientas">
            <div class="has-text-centered section-heading">
                <h1 class="textoEncima title is-2 is-uppercase">{{"Lenguajes"|translate}}</h1>
            </div>
    
            <div class="lenguajes">
                <div class="columns is-vcentered is-centered">
                    <!-- PHP -->
                    <div class="column is-one-sixth has-text-centered">
                        <figure>
                            <img src="assets/image/php.png" alt="PHP" class="skill-image">
                            <figcaption>PHP</figcaption>
                        </figure>
                    </div>

                    <!-- C -->
                    <div class="column is-one-sixth has-text-centered">
                        <figure>
                            <img src="assets/image/c.png" alt="C" class="skill-image">
                            <figcaption>C</figcaption>
                        </figure>
                    </div>

                    <!-- Java -->
                    <div class="column is-one-sixth has-text-centered">
                        <figure>
                            <img src="assets/image/java.png" alt="Java" class="skill-image">
                            <figcaption>Java</figcaption>
                        </figure>
                    </div>

                    <!-- Python -->
                    <div class="column is-one-sixth has-text-centered">
                        <figure>
                            <img src="assets/image/python.png" alt="Python" class="skill-image">
                            <figcaption>Python</figcaption>
                        </figure>
                    </div>


                    <!-- Kotlin -->
                    <div class="column is-one-sixth has-text-centered">
                        <figure>
                            <img src="assets/image/kotlin.png" alt="Kotlin" class="skill-image">
                            <figcaption>Kotlin</figcaption>
                        </figure>
                    </div>

                    <!-- JavaScript -->
                    <div class="column is-one-sixth has-text-centered">
                        <figure>
                            <img src="assets/image/javascript.png" alt="JavaScript" class="skill-image">
                            <figcaption>JavaScript</figcaption>
                        </figure>
                    </div>

                    <!-- Typescript -->
                    <div class="column is-one-sixth has-text-centered">
                        <figure>
                            <img src="assets/image/typescript.png" alt="Python" class="skill-image">
                            <figcaption>Typescript</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="title has-text-centered section-heading">
                <h1 class="textoEncima title is-2 is-uppercase">{{"Marcado"|translate}}</h1>
            </div>


            <div class="lenguajes">
                <div class="columns is-vcentered is-centered">
                    <!-- HTML -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/html.png" alt="HTML" class="skill-image2">
                            <figcaption>HTML</figcaption>
                        </figure>
                    </div>
            
                    <!-- CSS -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/css.png" alt="CSS" class="skill-image">
                            <figcaption>CSS</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Hoja de Vida -->
<section class="section" id="resume">
    <div class="container">
        <div class="has-text-centered section-heading">
            <h1 class="textoDetras title is-2 is-uppercase">{{"TITULO3_PROFILE"|translate}}</h1>
            <h1 class="textoEncima subtitle is-uppercase">{{"SUBTITULO3_PROFILE"|translate}}</h1>

            <a href="https://drive.google.com/file/d/1gAaaFBjDw7NG-WmSbeWW9zkMWsiU3XYc/view?usp=sharing" target="_blank" class="is-hidden-touch button is-outlined is-primary is-large mt-6">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span class="is-uppercase has-text-centered">{{"DESCARGA_PROFILE"|translate}}</span>
            </a>

            <a href="https://drive.google.com/file/d/1gAaaFBjDw7NG-WmSbeWW9zkMWsiU3XYc/view?usp=sharing" target="_blank" class="is-hidden-desktop button is-outlined is-primary is-normal mt-6">
                <span class="icon">
                <i class="fa fa-download"></i>
              </span>
                <span class="is-uppercase has-text-centered">{{"DESCARGA_PROFILE"|translate}}</span>
            </a>
        </div>
    </div>
</section>

