<!-- Perfil -->
<section class="section">
    <div class="container">
        <div class="title has-text-centered section-heading">
            <h1 class="textoEncima title is-2 is-uppercase">{{"Info"|translate}}</h1>
            <hr class="line-title">
            <h1 class="subtitle is-uppercase">{{"Perfil"|translate}}</h1>
        </div>

        <div class="perfil box mt-6 transparente">
            <div class="content">
                <table class="table has-text-centered">
                    <tbody class="box2">
                        <tr>
                            <td>{{"Name"|translate}}</td>
                            <td>{{"Nombre2"|translate}}</td>
                        </tr>
                        <tr>
                            <td>{{"Residencia"|translate}}</td>
                            <td>{{"Residencia2"|translate}}</td>
                        </tr>
                        <tr>
                            <td>{{"Universidad"|translate}}</td>
                            <td>{{"Universidad2"|translate}}</td>
                        </tr>
                        <tr>
                            <td>{{"Carrera"|translate}}</td>
                            <td>{{"Carrera2"|translate}}</td>
                        </tr>
                        <tr>
                            <td>{{"Master"|translate}}</td>
                            <td>{{"Master2"|translate}}</td>
                        </tr>
                        <tr>
                            <td>{{"Gmail"|translate}}</td>
                            <td>{{"Gmail2"|translate}}</td>
                        </tr>
                        <tr>
                            <td>{{"Linkedin"|translate}}</td>
                            <td><a href="https://www.linkedin.com/in/miguel-ib%C3%A1%C3%B1ez/">in/miguel-ibañez</a></td>
                        </tr>
                        <tr>
                            <td>{{"GitHub"|translate}}</td>
                            <td><a href="https://github.com/MiguelIbanezG">MiguelIbanezG</a></td>
                        </tr>
                        <tr>
                            <td>{{"Teléfono"|translate}}</td>
                            <td>{{"Teléfono2"|translate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr class="custom-hr">

</section>


<section class="section">
    <div class="container2">
        <div class="title has-text-centered section-heading">
            <h1 class="textoEncima title is-2 is-uppercase">{{"Sobre_mi"|translate}}</h1>
            <hr class="line-title3">
        </div>

        <div class="sobre columns is-vcentered is-centered is-gapless">
            <div class="column is-offset-2 is-3">
                <figure class="image">
                    <img src="https://i.postimg.cc/vmsHMDbB/FrontEnd.webp" alt="dev Castellanos Front End">
                </figure>
            </div>
            <div class="column transparente is-vcentered is-centered is-offset-2 is-5">
                <div class="box">
                    <div class="content">
                        <p class="info">{{"Info_sobre_mi"|translate}}</p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="custom-hr">


        <div class="skills">
            <div class="title has-text-centered section-heading">
                <h1 class="trab textoEncima title is-2 is-uppercase">{{"Trabajado"|translate}}</h1>
                <hr class="line-title2">
                <h1 class="first textoEncima subtitle is-2 is-uppercase">{{"Lenguajes"|translate}}</h1>
            </div>
    
            <div class="lenguajes">
                <div class="columns is-vcentered is-centered is-mobile">
                    <!-- PHP -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/php.png" alt="PHP" class="skill-image">
                            <figcaption>PHP</figcaption>
                        </figure>
                    </div>

                    <!-- C -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/c.png" alt="C" class="skill-image">
                            <figcaption>C</figcaption>
                        </figure>
                    </div>

                    <!-- Java -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/java.png" alt="Java" class="skill-image">
                            <figcaption>Java</figcaption>
                        </figure>
                    </div>

                    <!-- Python -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/python.png" alt="Python" class="skill-image">
                            <figcaption>Python</figcaption>
                        </figure>
                    </div>


                    <!-- Kotlin -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/kotlin.png" alt="Kotlin" class="skill-image">
                            <figcaption>Kotlin</figcaption>
                        </figure>
                    </div>

                    <!-- JavaScript -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/javascript.png" alt="JavaScript" class="skill-image">
                            <figcaption>JavaScript</figcaption>
                        </figure>
                    </div>

                    <!-- Typescript -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/typescript.png" alt="Python" class="skill-image">
                            <figcaption>Typescript</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="title has-text-centered section-heading ">
                <h1 class="textoEncima subtitle is-2 is-uppercase">{{"Marcado"|translate}}</h1>
            </div>


            <div class="lenguajes">
                <div class="columns is-vcentered is-centered is-mobile">
                    <!-- HTML -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/html.png" alt="HTML" class="skill-image2">
                            <figcaption>HTML</figcaption>
                        </figure>
                    </div>
            
                    <!-- CSS -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/css.png" alt="CSS" class="skill-image">
                            <figcaption>CSS</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="title has-text-centered section-heading">
                <h1 class="textoEncima subtitle is-2 is-uppercase">{{"Herramientas"|translate}}</h1>
            </div>


            <div class="lenguajes">
                <div class="columns is-vcentered is-centered is-mobile">
           
                        <!-- Android Studio -->
                        <div class="column is-narrow has-text-centered">
                            <figure>
                                <img src="assets/image/android_studio.png" alt="Android Studio" class="skill-image2">
                                <figcaption>Android Studio</figcaption>
                            </figure>
                        </div>
                
                        <!-- Apache -->
                        <div class="column is-narrow has-text-centered">
                            <figure>
                                <img src="assets/image/apache.png" alt="Apache" class="skill-image">
                                <figcaption>Apache</figcaption>
                            </figure>
                        </div>

                        <!-- Docker -->
                        <div class="column is-narrow has-text-centered">
                            <figure>
                                <img src="assets/image/docker.png" alt="Docker" class="skill-image">
                                <figcaption>Docker</figcaption>
                            </figure>
                        </div>

                        <!-- Filezilla -->
                        <div class="column is-narrow has-text-centered">
                            <figure>
                                <img src="assets/image/filezilla.png" alt="Filezilla" class="skill-image">
                                <figcaption>Filezilla</figcaption>
                            </figure>
                        </div>

                        <!-- jQuery -->
                        <div class="column is-narrow has-text-centered">
                            <figure>
                                <img src="assets/image/jquery.png" alt="jQuery" class="skill-image">
                                <figcaption>jQuery</figcaption>
                            </figure>
                        </div>

                        <!-- GitHub -->
                        <div class="column is-narrow has-text-centered">
                            <figure>
                                <img src="assets/image/github.png" alt="GitHub" class="skill-image">
                                <figcaption>GitHub</figcaption>
                            </figure>
                        </div>

                        <!-- GitLab -->
                        <div class="column is-narrow has-text-centered">
                            <figure>
                                <img src="assets/image/gitlab.png" alt="GitLab" class="skill-image">
                                <figcaption>GitLab</figcaption>
                            </figure>
                        </div>

                        <!-- Nginx -->
                        <div class="column is-narrow has-text-centered">
                            <figure>
                                <img src="assets/image/nginx.png" alt="Nginx" class="skill-image">
                                <figcaption>Nginx</figcaption>
                            </figure>
                        </div>

                        <!-- Postman -->
                        <div class="column is-narrow has-text-centered">
                            <figure>
                                <img src="assets/image/postman.png" alt="Postman" class="skill-image">
                                <figcaption>Postman</figcaption>
                            </figure>
                        </div>

                        <!-- Eclipse -->
                        <div class="column is-narrow has-text-centered">
                            <figure>
                                <img src="assets/image/eclipse.png" alt="Eclipse" class="skill-image">
                                <figcaption>Eclipse</figcaption>
                            </figure>
                        </div>

                        <!-- Visual Studio Code -->
                        <div class="column is-narrow has-text-centered">
                            <figure>
                                <img src="assets/image/visual_studio_code.png" alt=" Visual Studio Code" class="skill-image">
                                <figcaption> Visual Studio Code</figcaption>
                            </figure>
                        </div>
               
                </div>
            </div>

            <div class="title has-text-centered section-heading">
                <h1 class="textoEncima subtitle is-2 is-uppercase">{{"Frameworks"|translate}}</h1>
            </div>


            <div class="lenguajes">
                <div class="columns is-vcentered is-centered is-mobile">
                    <!-- Angular -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/angular.png" alt="Angular" class="skill-image2">
                            <figcaption>Angular</figcaption>
                        </figure>
                    </div>
            
                    <!-- Vue -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/vue.png" alt="Vue" class="skill-image">
                            <figcaption>Vue.js</figcaption>
                        </figure>
                    </div>

                    <!-- Django -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/django.png" alt="Django" class="skill-image">
                            <figcaption>Django</figcaption>
                        </figure>
                    </div>

                    <!-- Express -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/express.png" alt="Express" class="skill-image">
                            <figcaption>Express.js</figcaption>
                        </figure>
                    </div>
                    
                    <!-- Node -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/node.png" alt="Node" class="skill-image">
                            <figcaption>Node.js</figcaption>
                        </figure>
                    </div>

                    <!-- React -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/react.png" alt="React" class="skill-image">
                            <figcaption>React.js</figcaption>
                        </figure>
                    </div>

                </div>
            </div>

            <div class="title has-text-centered section-heading">
                <h1 class="textoEncima subtitle is-2 is-uppercase">{{"Bases_datos"|translate}}</h1>
            </div>


            <div class="lenguajes">
                <div class="columns is-vcentered is-centered is-mobile">
                    <!-- Mysql -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/mysql.png" alt="Mysql" class="skill-image2">
                            <figcaption>Mysql</figcaption>
                        </figure>
                    </div>
            
                    <!-- PostgreSQL -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/postgress.png" alt="PostgreSQL" class="skill-image">
                            <figcaption>PostgreSQL</figcaption>
                        </figure>
                    </div>

                    <!-- mongoDB -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/mongoDB.png" alt="mongoDB" class="skill-image2">
                            <figcaption>mongoDB</figcaption>
                        </figure>
                    </div>
            
                    <!-- Neo4j -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/neo4j.png" alt="Neo4j" class="skill-image">
                            <figcaption>Neo4j</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr class="custom-hr">
</section>

<!-- Hoja de Vida -->
<section class="section" id="resume">

    <div class="container">
        <div class="curriculumsec has-text-centered section-heading">
            <h1 class="textoEncima title is-2 is-uppercase">{{"Curriculum2"|translate}}</h1>
            <hr class="line-title">
            <div class="link">
                <a href="https://drive.google.com/file/d/1M5zK9awfH7FBhVXgdLJxfMsfgVUNUAHa/view?usp=drive_link" target="_blank" class="is-hidden-touch button is-outlined custom-button-black is-large mt-6">
                    <span class="icon">
                        <i class="fa fa-download"></i>
                    </span>
                    <span class="is-uppercase has-text-centered">{{"Curriculum"|translate}}</span>
                </a>

                     
                <a href="https://drive.google.com/file/d/1M5zK9awfH7FBhVXgdLJxfMsfgVUNUAHa/view?usp=drive_link" target="_blank" class="is-hidden-desktop button is-outlined custom-button-black is-normal mt-4 mb-6">
                    <span class="icon">
                        <i class="fa fa-download"></i>
                    </span>
                    <span class="is-uppercase has-text-centered">{{"Curriculum"|translate}}</span>
                </a>
            </div>
        </div>
    </div>
</section>

