<!-- Perfil -->
<div class="container">
    <div class="title has-text-centered section-heading">
        <h1 class="textoEncima title_profile is-2 is-uppercase">{{"Profile.Info"|translate}}</h1>
        <hr class="line_info">
        <h1 class="subtitle_profile is-uppercase">{{"Profile.Profile"|translate}}</h1>
    </div>

    <div class="box transparente">
        <div class="content">
            <table class="table has-text-centered">
                <tbody class="profile_table">
                    <tr>
                        <td>{{"Profile.Name"|translate}}</td>
                        <td>{{"Profile.MyName"|translate}}</td>
                    </tr>
                    <tr>
                        <td>{{"Profile.Residence"|translate}}</td>
                        <td>{{"Profile.MyResidence"|translate}}</td>
                    </tr>
                    <tr>
                        <td>{{"Profile.University"|translate}}</td>
                        <td>{{"Profile.MyUniversity"|translate}}</td>
                    </tr>
                    <tr>
                        <td>{{"Profile.Career"|translate}}</td>
                        <td>{{"Profile.MyCareer"|translate}}</td>
                    </tr>
                    <tr>
                        <td>{{"Profile.Master"|translate}}</td>
                        <td>{{"Profile.MyMaster"|translate}}</td>
                    </tr>
                    <tr>
                        <td>{{"Profile.Gmail"|translate}}</td>
                        <td>{{"Profile.MyGmail"|translate}}</td>
                    </tr>
                    <tr>
                        <td>{{"Linkedin"|translate}}</td>
                        <td><a href="https://www.linkedin.com/in/miguel-ib%C3%A1%C3%B1ez/">in/miguel-ibañez</a></td>
                    </tr>
                    <tr>
                        <td>{{"GitHub"|translate}}</td>
                        <td><a href="https://github.com/MiguelIbanezG">MiguelIbanezG</a></td>
                    </tr>
                    <tr>
                        <td>{{"Profile.Phone"|translate}}</td>
                        <td>{{"Profile.MyPhone"|translate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    
<hr class="custom-hr">

<div class="container_info">
    <div class="title has-text-centered">
        <h1 class="textoEncima title_AboutMe is-2 is-uppercase">{{"Profile.About_me"|translate}}</h1>
        <hr class="line_AboutMe">
    </div>

    <div class="sobre columns is-vcentered is-centered is-gapless">
        <div class="column is-4">
            <figure class="image">
                <img src="https://i.postimg.cc/vmsHMDbB/FrontEnd.webp" alt="img">
            </figure>
        </div>
        <div class="column transparente is-vcentered is-centered is-offset-2 is-5">
            <div class="box">
                <div class="content">
                    <p class="about_me">{{"Profile.Info_about_me"|translate}}</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="custom-hr">


    <div class="skills">
        <div class="title has-text-centered section-heading">
            <h1 class="trab textoEncima title_skills is-2 is-uppercase">{{"Profile.Worked"|translate}}</h1>
            <hr class="line_skills">
            <h1 class="first textoEncima subtitle_skills is-2 is-uppercase">{{"Profile.Languages"|translate}}</h1>
        </div>

        <div class="lenguajes">
            <div class="columns is-vcentered is-centered is-mobile">
                <!-- PHP -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/php.png" alt="PHP" class="skill-image">
                        <figcaption>PHP</figcaption>
                    </figure>
                </div>

                <!-- C -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/c.png" alt="C" class="skill-image">
                        <figcaption>C</figcaption>
                    </figure>
                </div>

                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/c++.png" alt="C++" class="skill-image">
                        <figcaption>C++</figcaption>
                    </figure>
                </div>


                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/csharp.png" alt="C#" class="skill-image">
                        <figcaption>C#</figcaption>
                    </figure>
                </div>


                <!-- Java -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/java.png" alt="Java" class="skill-image">
                        <figcaption>Java</figcaption>
                    </figure>
                </div>

                <!-- Python -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/python.png" alt="Python" class="skill-image">
                        <figcaption>Python</figcaption>
                    </figure>
                </div>


                <!-- Kotlin -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/kotlin.png" alt="Kotlin" class="skill-image">
                        <figcaption>Kotlin</figcaption>
                    </figure>
                </div>

                <!-- JavaScript -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/javascript.png" alt="JavaScript" class="skill-image">
                        <figcaption>JavaScript</figcaption>
                    </figure>
                </div>

                <!-- Typescript -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/typescript.png" alt="Python" class="skill-image">
                        <figcaption>Typescript</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <div class="title has-text-centered section-heading ">
            <h1 class="textoEncima subtitle_skills is-2 is-uppercase">{{"Profile.Markup"|translate}}</h1>
        </div>


        <div class="lenguajes">
            <div class="columns is-vcentered is-centered is-mobile">
                <!-- HTML -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/html.png" alt="HTML" class="skill_image_html">
                        <figcaption class="html-text">HTML</figcaption>
                    </figure>
                </div>
        
                <!-- CSS -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/css.png" alt="CSS" class="skill-image">
                        <figcaption>CSS</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <div class="title has-text-centered section-heading">
            <h1 class="textoEncima subtitle_skills is-2 is-uppercase">{{"Profile.Technologies"|translate}}</h1>
        </div>


        <div class="lenguajes">
            <div class="columns is-vcentered is-centered is-mobile">
        
                    <!-- Android Studio -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/android_studio.png" alt="Android Studio" class="skill-image">
                            <figcaption>Android Studio</figcaption>
                        </figure>
                    </div>
            
                    <!-- Apache -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/apache.png" alt="Apache" class="skill-image">
                            <figcaption>Apache</figcaption>
                        </figure>
                    </div>

                    <!-- Docker -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/docker.png" alt="Docker" class="skill-image">
                            <figcaption>Docker</figcaption>
                        </figure>
                    </div>

                    <!-- Docker -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/kubernetes.png" alt="Kubernetes" class="skill-image">
                            <figcaption>Kubernetes</figcaption>
                        </figure>
                    </div>

                    <!-- Filezilla -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/filezilla.png" alt="Filezilla" class="skill-image">
                            <figcaption>Filezilla</figcaption>
                        </figure>
                    </div>

                    <!-- jQuery -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/jquery.png" alt="jQuery" class="skill-image">
                            <figcaption>jQuery</figcaption>
                        </figure>
                    </div>

                    <!-- GitHub -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/github.png" alt="GitHub" class="skill-image">
                            <figcaption>GitHub</figcaption>
                        </figure>
                    </div>

                    <!-- GitLab -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/gitlab.png" alt="GitLab" class="skill-image">
                            <figcaption>GitLab</figcaption>
                        </figure>
                    </div>

                    <!-- Nginx -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/nginx.png" alt="Nginx" class="skill-image">
                            <figcaption>Nginx</figcaption>
                        </figure>
                    </div>

                    <!-- Postman -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/postman.png" alt="Postman" class="skill-image">
                            <figcaption>Postman</figcaption>
                        </figure>
                    </div>

                    <!-- Eclipse -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/eclipse.png" alt="Eclipse" class="skill-image">
                            <figcaption>Eclipse</figcaption>
                        </figure>
                    </div>

                    <!-- Visual Studio Code -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/visual_studio_code.png" alt=" Visual Studio Code" class="skill-image">
                            <figcaption> Visual Studio Code</figcaption>
                        </figure>
                    </div>

                    <!-- Node -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/node.png" alt="Node" class="skill-image">
                            <figcaption>Node.js</figcaption>
                        </figure>
                    </div>

                    <!-- React -->
                    <div class="column is-narrow has-text-centered">
                        <figure>
                            <img src="assets/image/react.png" alt="React" class="skill-image">
                            <figcaption>React.js</figcaption>
                        </figure>
                    </div>

            </div>
        </div>

        <div class="title has-text-centered section-heading">
            <h1 class="textoEncima subtitle_skills is-2 is-uppercase">{{"Profile.Frameworks"|translate}}</h1>
        </div>


        <div class="lenguajes">
            <div class="columns is-vcentered is-centered is-mobile">
                <!-- Angular -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/angular.png" alt="Angular" class="skill-image">
                        <figcaption>Angular</figcaption>
                    </figure>
                </div>
        
                <!-- Vue -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/vue.png" alt="Vue" class="skill-image">
                        <figcaption>Vue.js</figcaption>
                    </figure>
                </div>

                <!-- Django -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/django.png" alt="Django" class="skill-image">
                        <figcaption>Django</figcaption>
                    </figure>
                </div>

                <!-- Express -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/express.png" alt="Express" class="skill-image">
                        <figcaption>Express.js</figcaption>
                    </figure>
                </div>
                


            </div>
        </div>

        <div class="title has-text-centered section-heading">
            <h1 class="textoEncima subtitle_skills is-2 is-uppercase">{{"Profile.Databases"|translate}}</h1>
        </div>


        <div class="lenguajes">
            <div class="columns is-vcentered is-centered is-mobile">
                <!-- Mysql -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/mysql.png" alt="Mysql" class="skill-image">
                        <figcaption>Mysql</figcaption>
                    </figure>
                </div>
        
                <!-- PostgreSQL -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/postgress.png" alt="PostgreSQL" class="skill-image">
                        <figcaption>PostgreSQL</figcaption>
                    </figure>
                </div>

                <!-- mongoDB -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/mongoDB.png" alt="mongoDB" class="skill-image">
                        <figcaption>mongoDB</figcaption>
                    </figure>
                </div>
        
                <!-- Neo4j -->
                <div class="column is-narrow has-text-centered">
                    <figure>
                        <img src="assets/image/neo4j.png" alt="Neo4j" class="skill-image">
                        <figcaption>Neo4j</figcaption>
                    </figure>
                </div>
            </div>
        </div>

    </div>
</div>

<hr class="custom-hr">

<div class="container">
    <div class="resume_section has-text-centered section-heading">
        <h1 class="textoEncima title_profile is-2 is-uppercase">{{"Profile.Resume"|translate}}</h1>
        <hr class="line_resume">
        <div class="link">
            <a href="https://drive.google.com/file/d/1pw_tZ7Iu1uMte8Ont6luWvfCNpMcYvCQ/view?usp=drive_link" target="_blank" class="is-hidden-touch button is-outlined custom-button-black is-large mt-6">
                <span class="icon">
                    <i class="fa fa-download"></i>
                </span>
                <span class="is-uppercase has-text-centered">{{"Profile.MyResume"|translate}}</span>
            </a>

            <a href="https://drive.google.com/file/d/1pw_tZ7Iu1uMte8Ont6luWvfCNpMcYvCQ/view?usp=drive_link" target="_blank" class="is-hidden-desktop button is-outlined custom-button-black is-normal mt-6 mb-6">
                <span class="icon">
                    <i class="fa fa-download"></i>
                </span>
                <span class="is-uppercase has-text-centered">{{"Profile.MyResume"|translate}}</span>
            </a>
        </div>
    </div>
</div>

