.container{
    margin-top: -5%;
}

.container2{
    margin-top: -8%;
}
.box{
    background-color: black;
}
.perfil{
    margin-top: 70px !important;
}

td {
    word-wrap: break-word; 
    white-space: normal;  
}

table {
    table-layout: fixed; 
    width: 100%; 
    color: white;
}

.box2{
    background-color: black;
}

a{
    color: white;
}

p{
    color: white;
    font-size: 19px;
}

.lenguajes{
    margin-top: 5%;
}

.skill-image {
    width: 130px;
    height: 130px; 
    object-fit: contain; 
}

.skill-image2 {
    width: 120px; 
    height: 120px; 
    object-fit: contain;
}

.skill-image, .skill-image2 {
    transition: transform 0.3s ease; 
}

.skill-image:hover, .skill-image2:hover {
    transform: scale(1.2); 
}
.image{
    width: 100%;
}
figcaption{
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.columns {
    flex-wrap: wrap;
    gap: 20px; 
}

.title{
    margin-top: 100px;
    font-size: 35px !important;
    text-align: center; 
}

.subtitle{
    font-size: 25px !important;
    margin-bottom: -50px;
}

.custom-button-black {
    background-color: transparent;
    color: #000; 
    border: 3px solid #000; 
    font-weight: bold;
}


.custom-button-black:hover {
    background-color: #000000; 
    color: #ffffff; 
}

.custom-button-black:hover .icon i {
    color: #ffffff; 
}

.custom-button-black .icon i {
    color: #000000; 
}

h1{
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.textoEncima{
    font-size: 38px;
}

.curriculumsec{
    margin-top: -180px !important;
    margin-bottom: 30px;
}

.link{
    margin-top: -3%;
}

.custom-hr {
    border: none;   
    height: 0.1px;       
    background-color: black;      
    border-top: 0px solid #000 !important;  
    margin-left: 100px;   
    margin-right: 100px; 
    margin-top: 50px;          
  }

.skills{
    margin-top: -2%;
}

.trab{
    margin-bottom: 80px;
}

.line-title {
    border: none;
    border-top: 3px solid #000; 
    width: 22%;                  
    margin: 0 auto; 
    margin-top: -20px;  
    margin-bottom: 20px;      
}

.line-title3 {
    border: none;
    border-top: 3px solid #000; 
    width: 9%;                  
    margin: 0 auto; 
    margin-top: -20px;  
    margin-bottom: 20px;      
}

.line-title2 {
    border: none;
    border-top: 3px solid #000; 
    width: 17%;                  
    margin: 0 auto; 
    margin-top: -80px;  
    margin-bottom: 70px;      
}

@media screen and (max-width: 1024px) {

    .container{
        margin-top: -110px;
        font-family: 'Times New Roman', Times, serif;
    }
    .title{
        font-size: 130% !important;
        margin-bottom: 10%;
    }
    .subtitle{
        font-size: 90% !important;
        margin-top: 0px !important;
        margin-bottom: 20px;
    }
    .perfil{
        font-size: 70%;
        margin-top: -2% !important;
        margin-bottom: 50px;
    }
    .container2{
        margin-top: -200px;
    }
    .info{
        font-size: 70%;
    }
    .lenguajes{
        margin-top: -2%;
    }
    .image{
        width: 100%;
    }
    .link{
        margin-top: -40px;
    }
    .curriculumsec{
        margin-top: -20px;
    }
    .skill-image {
        width: 80px;
        height: 80px; 
        object-fit: contain; 
    }
    
    .skill-image2 {
        width: 75px; 
        height: 75px; 
        object-fit: contain;
    }
    h1{
        font-size: 100% !important;
    }
    figcaption{
        font-size: 16px;
    }

    .custom-hr {
        border: none;   
        height: 0.1px;       
        background-color: black;      
        border-top: 0px solid #000 !important;  
        margin-left: 10px;   
        margin-right: 10px; 
        margin-top: 30px;          
    }

    .sobre{
        margin-top: -100px;
    }
    .skills{
        margin-top: -50px;
    }

    .line-title {
        border: none;
        border-top: 3px solid #000; 
        width: 45%;                  
        margin: 0 auto; 
        margin-top: -10%;  
        margin-bottom: 50px;      
    }
    
    .line-title3 {
        border: none;
        border-top: 3px solid #000; 
        width: 30%;                  
        margin: 0 auto; 
        margin-top: -10%;  
        margin-bottom: 30px !important;      
    }
    
    .line-title2 {
        border: none;
        border-top: 3px solid #000; 
        width: 55%;                  
        margin: 0 auto; 
        margin-top: -10%;  
        margin-bottom: 70px;      
    }
      

}
