.container{
    margin-top: -5%;
}

.container2{
    margin-top: -5%;
}


.box{
    background-color: black;
}

td {
    word-wrap: break-word; 
    white-space: normal;  
}

table {
    table-layout: fixed; 
    width: 100%; 
    color: white;
}

.box2{
    background-color: black;
}

a{
    color: white;
}

p{
    color: white;
    font-size: 19px;
}

.skills {
    margin-top: -6%;
}

.lenguajes{
    margin-top: 5%;
}

.skill-image {
    width: 130px;
    height: 130px; 
    object-fit: contain; 
}

.skill-image2 {
    width: 120px; 
    height: 120px; 
    object-fit: contain;
}

.skill-image, .skill-image2 {
    transition: transform 0.3s ease; 
}

.skill-image:hover, .skill-image2:hover {
    transform: scale(1.2); 
}


figcaption{
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.columns{
    flex-wrap: wrap;
    gap: 40px; 
}

.title{
    margin-top: 100px;
}

.custom-button-black {
    background-color: transparent;
    color: #000; 
    border: 3px solid #000; 
    font-weight: bold;
}


.custom-button-black:hover {
    background-color: #000000; 
    color: #ffffff; 
}

.custom-button-black:hover .icon i {
    color: #ffffff; /* Color blanco para el icono en hover */
}

.custom-button-black .icon i {
    color: #000000; 
}

h1{
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.textoEncima{
    font-size: 38px;
}

.curriculumsec{
    margin-bottom: 30px;
}

.link{
    margin-top: -3%;
}

@media screen and (max-width: 1024px) {
    .skills {
        margin-top: 80px;
    }
    .lenguajes{
        margin-top: 40px;
    }

    .container2{
        margin-top: -20%;
    }
    .link{
        margin-top: -10%;
    }
    .curriculumsec{
        margin-top: -30%;
    }

}