<section class="home-hero">

  <div class="bubbles">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>


  <div class="home-container">
    <!-- Foto circular (la tuya) -->
    <div class="home-photo">
        <div class="circular-border">
            <img src="assets/image/foto2.png" class="is-rounded" alt="Miguel Ibáñez">
        </div>
    </div>

    <!-- Texto animado -->
    <div class="home-text">
    <h1 class="typewriter main" aria-label="Bienvenido a mi portfolio">
        <span class="typewriter-text main">{{'Home.Welcome' | translate}}</span>
    </h1>

    <p class="typewriter sub" aria-label="Explora mis proyectos">
        <span class="typewriter-text sub">{{'Home.Explore' | translate}}</span>
    </p>

        <p class="typewriter third" aria-label="Arquitecto de software">
            <span class="typewriter-text third">{{'Home.Software' | translate}}</span>
        </p>
    </div>

  </div>

</section>
